In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.getOrCreate()

In [4]:
def snake_case_cols(df):
    for c in df.columns:
        df=df.withColumnRenamed(
            c, c.lower().replace(" ","_").replace("-","_")
        )
    return df

In [5]:
players_silver = spark.read.parquet("/home/gnana/football-lakehouse/silver/players_silver")

In [6]:
players_silver = snake_case_cols(players_silver)

In [7]:
players_silver.columns

['player_id',
 'name',
 'current_club_id',
 'position',
 'sub_position',
 'date_of_birth',
 'birth_country',
 'birth_city',
 'country_of_citizenship',
 'foot',
 'height_in_cm',
 'market_value_in_eur']

In [8]:
games_silver = spark.read.parquet("/home/gnana/football-lakehouse/silver/games_silver")

In [9]:
games_silver.columns

['game_id',
 'season',
 'date',
 'home_club_id',
 'away_club_id',
 'home_club_goals',
 'away_club_goals',
 'stadium',
 'attendance',
 'competition_id']

In [28]:
appearances_silver = spark.read.parquet("/home/gnana/football-lakehouse/silver/appearances_silver")

In [29]:
appearances_silver.columns

['player_name',
 'appearance_id',
 'game_id',
 'player_id',
 'competition_id',
 'minutes_played',
 'goals',
 'assists',
 'yellow_cards',
 'red_cards']

In [12]:
clubs_silver = spark.read.parquet("/home/gnana/football-lakehouse/silver/clubs_silver")

In [13]:
clubs_silver.columns

['club_id', 'name', 'squad_size', 'average_age', 'coach_name']

In [15]:
players_silver.printSchema()

root
 |-- player_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- current_club_id: integer (nullable = true)
 |-- position: string (nullable = true)
 |-- sub_position: string (nullable = true)
 |-- date_of_birth: timestamp (nullable = true)
 |-- birth_country: string (nullable = true)
 |-- birth_city: string (nullable = true)
 |-- country_of_citizenship: string (nullable = true)
 |-- foot: string (nullable = true)
 |-- height_in_cm: integer (nullable = true)
 |-- market_value_in_eur: integer (nullable = true)

In [21]:
players_silver.limit(15).toPandas()

,player_id,name,current_club_id,position,sub_position,date_of_birth,birth_country,birth_city,country_of_citizenship,foot,height_in_cm,market_value_in_eur
0,10,Miroslav Klose,398,Attack,Centre-Forward,1978-06-09,Poland,Opole,Germany,right,184.0,1000000
1,77,Lúcio,506,Defender,Centre-Back,1978-05-08,Brazil,Brasília,Brazil,NaN,NaN,200000
2,80,Tom Starke,27,Goalkeeper,Goalkeeper,1981-03-18,East Germany (GDR),Freital,Germany,right,194.0,100000
3,109,Dedê,825,Defender,Left-Back,1978-04-18,Brazil,Belo Horizonte,Brazil,NaN,NaN,400000
4,123,Christoph Metzelder,33,Defender,Centre-Back,1980-11-05,Germany,Haltern,Germany,NaN,NaN,1500000
5,162,Marc Ziegler,79,Goalkeeper,Goalkeeper,1976-06-13,Germany,Blieskastel,Germany,right,193.0,200000
6,215,Roque Santa Cruz,1084,Attack,Centre-Forward,1981-08-16,Paraguay,Asunción,Paraguay,right,193.0,250000
7,264,Tamás Hajnal,79,Midfield,Attacking Midfield,1981-03-15,Hungary,Esztergom,Hungary,both,167.0,100000
8,276,Sladan Peric,20100,Defender,Centre-Back,1982-04-15,NaN,NaN,Denmark,NaN,NaN,200000
9,277,Sérgio da Silva Pinto,3368,Midfield,Central Midfield,1980-10-16,Portugal,Vila Nova de Gaia,Germany,right,176.0,150000
10,410,Sebastian Kehl,16,Midfield,Defensive Midfield,1980-02-13,Germany,Fulda,Germany,left,187.0,1000000
11,411,Levan Kobiashvili,44,Midfield,Left Midfield,1977-07-10,UdSSR,Tiflis,Georgia,left,183.0,400000
12,488,Gerhard Tremmel,2288,Goalkeeper,Goalkeeper,1978-11-16,Germany,München,Germany,NaN,NaN,250000
13,532,Claudio Pizarro,86,Attack,Centre-Forward,1978-10-03,Peru,Callao,Peru,right,184.0,400000
14,557,Simon Jentzsch,167,Goalkeeper,Goalkeeper,1976-05-04,Germany,Düsseldorf,Germany,right,196.0,300000

In [22]:
games_silver.printSchema()

root
 |-- game_id: integer (nullable = true)
 |-- season: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- home_club_id: integer (nullable = true)
 |-- away_club_id: integer (nullable = true)
 |-- home_club_goals: integer (nullable = true)
 |-- away_club_goals: integer (nullable = true)
 |-- stadium: string (nullable = true)
 |-- attendance: integer (nullable = true)
 |-- competition_id: string (nullable = true)

In [23]:
games_silver.limit(15).toPandas()

,game_id,season,date,home_club_id,away_club_id,home_club_goals,away_club_goals,stadium,attendance,competition_id
0,2219794,2012,2012-07-22,58,498,3,2,Constant Vanden Stock Stadion,14485,BESC
1,2221747,2012,2012-08-18,440,52,0,1,Leuna-Chemie-Stadion,8506,DFB
2,2221751,2012,2012-08-18,431,60,1,2,Stadion Hoheluft,4375,DFB
3,2221752,2012,2012-08-18,66,3,1,2,Uhlsport Park,7500,DFB
4,2221760,2012,2012-08-18,113,15,0,4,ad hoc Arena im Ernst-Abbe-Sportfeld,8043,DFB
5,2221772,2012,2012-08-20,254,25,3,0,GP Stadion am Hardtwald,2700,DFB
6,2221776,2012,2012-08-19,30,2,1,3,Ostseestadion,7700,DFB
7,2222537,2012,2012-08-25,18,533,2,1,Stadion im Borussia-Park,50146,L1
8,2222540,2012,2012-08-25,167,38,0,2,WWK ARENA,30400,L1
9,2222542,2012,2012-08-25,24,15,2,1,Commerzbank Arena,27950,L1
10,2222587,2012,2012-07-21,2410,1083,1,0,Arena Khimki,12000,RU1
11,2222588,2012,2012-07-22,964,4128,2,0,Petrovsky,20057,RU1
12,2222589,2012,2012-07-22,2700,2439,2,1,Dinamo,13500,RU1
13,2222592,2012,2012-07-22,2696,3725,1,1,Metallurg,9500,RU1
14,2222593,2012,2012-07-20,11126,932,2,3,Start,10000,RU1

In [31]:
appearances_silver.printSchema()

root
 |-- player_name: string (nullable = true)
 |-- appearance_id: string (nullable = true)
 |-- game_id: integer (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- competition_id: string (nullable = true)
 |-- minutes_played: integer (nullable = true)
 |-- goals: integer (nullable = true)
 |-- assists: integer (nullable = true)
 |-- yellow_cards: integer (nullable = true)
 |-- red_cards: integer (nullable = true)

In [30]:
appearances_silver.limit(15).toPandas()

,player_name,appearance_id,game_id,player_id,competition_id,minutes_played,goals,assists,yellow_cards,red_cards
0,Mitchell Dijks,2211607_187245,2211607,187245,NLSC,76,0,0,1,0
1,Kenneth Vermeer,2211607_30290,2211607,30290,NLSC,90,0,0,0,0
2,Przemyslaw Tyton,2211607_33210,2211607,33210,NLSC,90,0,1,1,0
3,Kolbeinn Sigthórsson,2211607_52246,2211607,52246,NLSC,76,0,0,0,0
4,Viktor Fischer,2211607_95755,2211607,95755,NLSC,65,0,0,0,0
5,Dennis Praet,2219794_129588,2219794,129588,BESC,61,1,0,0,0
6,Arda Turan,2219795_21369,2219795,21369,USC,90,0,1,0,0
7,Filipe Luís,2219795_21725,2219795,21725,USC,90,0,0,0,0
8,Gabi,2219795_22969,2219795,22969,USC,90,0,0,0,0
9,Frank Lampard,2219795_3163,2219795,3163,USC,90,0,1,0,0
10,Diego Godín,2219795_54928,2219795,54928,USC,90,0,0,0,0
11,Steven Cherundolo,2221641_1335,2221641,1335,DFB,62,0,0,0,0
12,Karim Haggui,2221641_17885,2221641,17885,DFB,90,0,0,0,0
13,Lars Stindl,2221641_48298,2221641,48298,DFB,45,0,0,0,0
14,Karim Guédé,2221751_10885,2221751,10885,DFB,63,0,0,0,0

In [26]:
clubs_silver.printSchema()

root
 |-- club_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- squad_size: integer (nullable = true)
 |-- average_age: double (nullable = true)
 |-- coach_name: string (nullable = true)

In [27]:
clubs_silver.limit(15).toPandas()

,club_id,name,squad_size,average_age,coach_name
0,3,1.FC Köln,34,24.6,None
1,4,1.FC Nuremberg,33,25.2,None
2,5,Associazione Calcio Milan,26,26.3,None
3,6,Adanaspor,10,23.9,None
4,10,Arminia Bielefeld,27,25.3,None
5,11,Arsenal Football Club,24,26.8,None
6,12,Associazione Sportiva Roma,26,26.3,None
7,13,Club Atlético de Madrid S.A.D.,23,29.3,None
8,15,Bayer 04 Leverkusen Fußball,26,26.8,None
9,16,Borussia Dortmund,28,25.2,None
10,18,Borussia Verein für Leibesübungen 1900 Mönchen...,26,26.4,None
11,19,Brescia Calcio,28,25.1,None
12,20,Bursaspor,26,21.4,None
13,23,Eintracht Braunschweig,30,25.6,None
14,24,Eintracht Frankfurt Fußball AG,27,25.4,None

In [33]:
assert players_silver.filter(col("player_id").isNull()).count() == 0
assert games_silver.filter(col("game_id").isNull()).count()==0
assert appearances_silver.filter(col("appearance_id").isNull()).count()==0
assert clubs_silver.filter(col("club_id").isNull()).count()==0

In [34]:
print("players:", players_silver.count())
print("games:", games_silver.count())
print("appearances:", appearances_silver.count())
print("clubs:", clubs_silver.count())

players: 32601
games: 74026
appearances: 1706806
clubs: 439